/*字体图标*/
@font-face {
    font-family: Micons;
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: Micons !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before { content: "\e6a3"; }

.icon-star:before { content: "\e60b"; }

.icon-reduce:before { content: "\e627"; }

.icon-star{
	color: #E6E6E6;
}
.icon-star.mui-active{
	color: #F8D053;
}


.ui-page-login,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
p,h1{
	margin: 0;
	padding: 0;
}
.mui-content{height: 100%;}

/*品牌*/
.brand{
	height: 60px;
	background: url(../images/brand.png) no-repeat 20px center;
	background-color: #FFF;
	background-size: 70%;
}
.brand .mui-icon{
	line-height: 60px;
	margin-right: 10px;
}
.brand #menuBtn{
	width: 50px;
	font-size: 30px;
	font-weight: bold;
	color: #E73130;
	text-align: right;
}

/*按钮*/
.mui-btn-sg{
	font-size: 18px;
	color: #FFF;
	background-color: #E73130;
	padding: 6px 0;
	border-radius: 0;
}

/*badge*/
.m-badge-square{
	color: #FFF;
	border-radius: 0;
}
.m-badge-info{
	background-color: #10CFBD;
}
.m-badge-danger{
	color: #FFF;
	background-color: #F55753;
}
.m-badge-warning{
	color: #FFF;
	background-color: #F8D053;
}
.m-badge-primary{
	color: #FFF;
	background-color: #3B4752;
}
.m-badge-default{
	color: #3B4752;
	background-color: #E6E6E6;
}


/*button*/
.m-btn-warning{
	color: #FFF;
	background-color: #FACD00;
	border-color: #FACD00;
}
.mui-btn.m-btn-warning:active{
	background-color: #e2ba03;
}
.m-btn-danger{
	color: #FFF;
	background-color: #F55753;
	border-color: #F55753;
}
.mui-btn.m-btn-danger:active{
	background-color: #f33934;
}
.m-btn-info{
	color: #FFF;
	background-color: #06B4C7;
	border-color: #06B4C7;
}
.mui-btn.m-btn-info:active{
	background-color: #0591a0;
}


/*滑动菜单*/
.create-box{
	padding: 0 20px;
}
.create-box .input-group{
	margin-bottom: 15px;
}
.create-box .title{
	font-size: 22px;
	color: rgba(245, 87, 83, .7);
	text-align: center;
	margin: 20px 0;
}
.create-box .input-name{
	background: rgba(245, 87, 83, .7);
	border-radius: 0;
	color: #FFF;
}
.create-box .label{
	color: rgba(255, 255, 255, .8);
	line-height: 30px;
}
.create-box .input-name::-webkit-input-placeholder{
	color: rgba(255, 255, 255, .8);
}
.create-box .mui-button-row{
	text-align: left;
	display: flex;
	justify-content: space-between;
}
.create-box .mui-btn{
	border: none;
	border-radius: 0;
	color: #FFF;
	width: 48%;	
}
.create-box .btn-confirm{
	background: rgba(245, 87, 83, .7);
}
.create-box .btn-cancel{
	background: rgba(251, 172, 0, .7);
}

/*弹出菜单*/
#menuPopover{
	width:140px;
	color: #FFF;
	top: 60px !important;
	background-color: transparent;
	-webkit-box-shadow: none;
			box-shadow: none;
}
#menuPopover .mui-table-view,
#menuPopover .mui-popover-arrow:after{
	background: #F55753;
}
#menuPopover .mui-table-view-cell:after{
	right: 15px;
	-webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, .2),
						0 -2px 0 rgba(0, 0, 0, .2);
			box-shadow: 0 -1px 0 rgba(255, 255, 255, .2),
						0 -2px 0 rgba(0, 0, 0, .2);
	background-color: transparent;
}
#menuPopover .mui-table-view-cell>a:not(.mui-btn).mui-active{
	background-color: #f3423e;
}