<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/project.css" rel="stylesheet" />
		<style type="text/css">
			
		</style>
	</head>

	<body>
		<div class="mui-content" style="background: #FFF;">
			<div class="brand"></div>
			
			<div class="project">
				<span class="project-label">请选择您要继续游戏的<em>城堡</em></span>
				<div class="project-list" id="projects">
					<ul class="mui-table-view">
					    <li class="mui-table-view-cell mui-media" v-for="(project, index) in projects">
				        	<a href="javascript:;">
					            <img class="mui-media-object mui-pull-right project-icon" src="images/logo_bg.png">
					            <div class="mui-media-body">
					                <div class="icon-item mui-pull-left">
					                	<div class="icon-t"></div>
										<div class="icon-b"></div>
					                </div>
					                <div class="project-item">
					                	<h2 class="mui-ellipsis project-title">{{project.project_name}}</h2>
					                	<p class="project-status">城堡运行了<em>{{project.days}}</em>天</p>
					                </div>
					            </div>
					        </a>
					    </li>
					    <li class="mui-table-view-cell mui-media" v-if="projects.length < 3">
					        <a href="javascript:;">
					            <img class="mui-media-object mui-pull-right project-icon" src="images/logo_bg.png">
					            <div class="mui-media-body">
					                <div class="icon-item mui-pull-left">
					                	<div class="icon-t"></div>
										<div class="icon-b"></div>
					                </div>
					                <div class="project-item">
					                	<h2 class="mui-ellipsis project-title">创建新的城堡</h2>
					                </div>
					            </div>
					        </a>
					    </li>
					</ul>
					
				</div>
				<button type="button" class="mui-btn mui-btn-sg" id="next">继续游戏</button>
			</div>
			
		</div>
		<script src="js/mui.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/vue-resource.min.js"></script>
		<script src="js/app.js"></script>
		<script>
			(function($, doc) {
				
				$.init();
				
				var vue = new Vue({
					el: '#projects',
					data:{
						projects: []
					},
					methods: {
						get: function(){
							this.$http.post(url+'Project/get_project_join_list',{
								member_id: plus.storage.getItem('member_id')
							},{emulateJSON:true}).then(function(res){
								this.projects = res.data.data;
			                },function(res){
			                    console.log(res.status);
			                });
						}
					},
					mounted: function(){
						
						this.get();
						
						$.plusReady(function() {
							var memberId = plus.storage.getItem('member_id');
							
							var taskPage = $.preload({
								"id": 'task',
								"url": 'task.html'
							});
							
							mui(".mui-table-view").on('tap','.mui-table-view-cell',function(){
								mui('.mui-table-view-cell').each(function(){
									this.classList.remove('on')
								})
							  	this.classList.add('on');
							})
							
							var nextBtn = doc.getElementById('next');
							nextBtn.addEventListener('tap', function(){
								$.fire(projectPage, 'show', null);
								$.openWindow({
									id: 'task',
									show: {
										aniShow: 'pop-in'
									},
									waiting: {
										autoShow: false
									}
								});
							})
						});
						
					}
				})
				
				
			}(mui, document));
		</script>
	</body>

</html>