<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>任务大厅</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/mui.picker.min.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/task.css" rel="stylesheet" />
		<style type="text/css">
			#offCanvasSide .star-item{
				width: 200px;
				text-align: right;
			}
			#offCanvasSide .iconfont{
				font-size: 24px;
				margin-right: 4px;
			}
			
			#addTask{
				position: fixed;
				bottom: 0;
				z-index: 9999;
				margin-bottom: 0;
				border: none;
			}
		</style>
	</head>

	<body>
		<!--侧滑菜单容器-->
		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable mui-scalable vue-task">
			<!--菜单部分-->
			<aside id="offCanvasSide" class="mui-off-canvas-right">
				<div id="offCanvasSideScroll" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="create-box">
							<h2 class="title">发布任务</h2>
							<input type="text" class="input-name" id="taskName" placeholder="任务名称">
							<textarea class="input-name" id="taskDesc" placeholder="任务描述"></textarea>
							<div class="star input-group">
								<label class="mui-pull-left label">难度</label>
								<div class="star-item">
									<i data-index="1" class="mui-icon iconfont icon-star mui-active"></i>
									<i data-index="2" class="mui-icon iconfont icon-star"></i>
									<i data-index="3" class="mui-icon iconfont icon-star"></i>
									<i data-index="4" class="mui-icon iconfont icon-star"></i>
									<i data-index="5" class="mui-icon iconfont icon-star"></i>
								</div>
							</div>
							<div class="deadline input-group">
								<label class="label">截至日期</label>
								<button type="button" class="mui-btn btn-confirm" id="pickDateBtn">选择时间</button>
							</div>
							<div class="deadline input-group">
								<label class="label">执行人</label>
								<button type="button" class="mui-btn btn-confirm" id="showUserPicker">选择人员</button>
							</div>
							<div class="mui-button-row">
								<button type="button" class="mui-btn btn-confirm" id="confirmBtn">决定</button>
								<button type="button" class="mui-btn btn-cancel" id="cancleBtn">取消</button>
							</div>
						</div>
					</div>
				</div>
			</aside>
			
			<div class="mui-inner-wrap">
				
				<div class="mui-content mui-scroll-wrapper">
					<div class="brand">
						<a href="#menuPopover" class="mui-icon mui-icon-bars mui-pull-right" id="menuBtn" ></a>
					</div>
					
				    <div class="role">
				    	<!--角色上部分-->
				    	<div class="role-t">
				    		<img src="images/role.png" class="head mui-pull-left"/>
				    		<div class="info">
				    			<div class="info-title">
									<ul class="mui-table-view">
										<li class="mui-table-view-cell mui-media">
											<a href="javascript:;">
												<img class="mui-media-object mui-pull-left info-head" src="images/job.png">
												<div class="mui-media-body">
													<h2 class="mui-ellipsis info-name">{{memberName}}</h2>
													<p class="mui-ellipsis info-job">12级 战士</p>
												</div>
											</a>
										</li>
									</ul>
				    			</div>
				    			<div class="info-item info-progressbar info-blood">
				    				<img src="images/blood.png" class="icon-blood"/>
				    				<div class="mui-progressbar" id="pbBlood">
										<span></span>
									</div>
									<span class="info-rate">35/50</span>
				    			</div>
				    			<div class="info-item info-progressbar info-magic">
				    				<img src="images/magic.png" class="icon-magic"/>
				    				<div class="mui-progressbar" id="pbMagic">
				    					<span></span>
				    				</div>
				    				<span class="info-rate">200/500</span>
				    			</div>
				    		</div>
				    	</div>
				    	<!--角色下部分-->
				    	<div class="role-b">
				    		<ul class="reward">
				    			<li class="reward-exp"><img src="images/exp.png" class="reward-icon" />1024</li>
				    			<li class="reward-trophy"><img src="images/trophy.png" class="reward-icon" />9999</li>
				    			<li class="reward-star"><img src="images/star.png" class="reward-icon" />9999</li>
				    			<li class="reward-money"><img src="images/money.png" class="reward-icon" />9999</li>
				    		</ul>
				    		<div class="notice" v-if="noticeShow">
				    			<p class="notice-c">公告内容:这是公告~!</p>
				    			<a href="javascript:;" class="notice-btn" id="noticeBtn"></a>
				    		</div>
				    	</div>
				    </div>
					
					<!--下拉刷新容器-->
					<div id="pullrefresh" class="mui-content mui-scroll-wrapper" style="top: 266px;bottom: 50px;">
						<div class="mui-scroll">
							<div class="task">
							
								<!--任务标题-->
								<div class="task-title">
									<h1>今日任务</h1>
									<span class="mui-badge mui-badge-blue">{{taskToday.number_complete}}</span>
									<div class="mui-progressbar" id="pbTask">
										<span></span>
									</div>
								</div>
							
								<!--任务列表-->
								<div class="task-list">
									<ul class="mui-table-view">
										<li class="mui-table-view-cell mui-collapse"
											v-bind:class="{ 'mui-active': index == 0 }"
											v-for="(task, index) in taskToday.list">
							
											<a class="mui-navigate-right" href="#">
												{{task.task_name}}
												<span class="task-expire">{{task.deadline_date}}</span>
												
												<div class="mui-switch mui-switch-mini" :data-id="task.id" 
													v-bind:class="{ 'mui-active': task.status == 2 }" v-mui="'switch'">
													<div class="mui-switch-handle"></div>
												</div>
												
												<span class="mui-badge m-badge-square m-badge-info"
													v-if="task.status == 1">进行</span>
												<span class="mui-badge m-badge-square m-badge-warning"
													v-if="task.status == 2">完成</span>
											</a>
							
											<div class="mui-collapse-content">
												<p>{{task.task_desc}}</p>
												<div class="task-tag">
													<div class="badge-item">
														<!--<span class="mui-badge m-badge-danger">tag</span>-->
													</div>
													<div class="star-item">
														<i data-index="1" class="mui-icon iconfont icon-star" 
															v-bind:class="{ 'mui-active': task.difficult >= 1 }"></i>
														<i data-index="2" class="mui-icon iconfont icon-star"
															v-bind:class="{ 'mui-active': task.difficult >= 2 }"></i>
														<i data-index="3" class="mui-icon iconfont icon-star"
															v-bind:class="{ 'mui-active': task.difficult >= 3 }"></i>
														<i data-index="4" class="mui-icon iconfont icon-star"
															v-bind:class="{ 'mui-active': task.difficult >= 4 }"></i>
														<i data-index="5" class="mui-icon iconfont icon-star"
															v-bind:class="{ 'mui-active': task.difficult >= 5 }"></i>
													</div>
												</div>
												<div class="finish-item">
													<div class="mui-switch mui-switch-mini" :data-id="task.id"
														v-bind:class="{ 'mui-active': task.status == 2 }" v-mui="'switch'">
														<div class="mui-switch-handle"></div>
													</div>
												</div>
											</div>
							
										</li>
									</ul>
								</div>
								
								<div class="task-title">
									<h1>其他任务</h1>
									<span class="mui-badge mui-badge-blue">{{taskOther.number_complete}}</span>
									<div class="mui-progressbar" id="pbTaskOther">
										<span></span>
									</div>
								</div>
								
								<!--任务列表-->
								<div class="task-list">
									<ul class="mui-table-view">
										<li class="mui-table-view-cell mui-collapse"
											v-bind:class="{ 'mui-active': index == 0 }"
											v-for="(task, index) in taskOther.list">
							
											<a class="mui-navigate-right" href="#">
												{{task.task_name}}
												<span class="task-expire">{{task.deadline_date}}</span>
												
												<div class="mui-switch mui-switch-mini" :data-id="task.id"
													v-bind:class="{ 'mui-active': task.status == 2 }" v-mui="'switch'">
													<div class="mui-switch-handle"></div>
												</div>
												
												<span class="mui-badge m-badge-square m-badge-info"
													v-if="task.status == 1">进行</span>
												<span class="mui-badge m-badge-square m-badge-warning"
													v-if="task.status == 2">完成</span>
											</a>
							
											<div class="mui-collapse-content">
												<p>{{task.task_desc}}</p>
												<div class="task-tag">
													<div class="badge-item">
														<!--<span class="mui-badge m-badge-danger">tag</span>-->
													</div>
													<div class="star-item">
														<i data-index="1" class="mui-icon iconfont icon-star" 
															v-bind:class="{ 'mui-active': task.difficult >= 1 }"></i>
														<i data-index="2" class="mui-icon iconfont icon-star"
															v-bind:class="{ 'mui-active': task.difficult >= 2 }"></i>
														<i data-index="3" class="mui-icon iconfont icon-star"
															v-bind:class="{ 'mui-active': task.difficult >= 3 }"></i>
														<i data-index="4" class="mui-icon iconfont icon-star"
															v-bind:class="{ 'mui-active': task.difficult >= 4 }"></i>
														<i data-index="5" class="mui-icon iconfont icon-star"
															v-bind:class="{ 'mui-active': task.difficult >= 5 }"></i>
													</div>
												</div>
												<div class="finish-item">
													<div class="mui-switch mui-switch-mini" :data-id="task.id"
														v-bind:class="{ 'mui-active': task.status == 2 }" v-mui="'switch'">
														<div class="mui-switch-handle"></div>
													</div>
												</div>
											</div>
							
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<!--添加任务按钮-->
		        	<button type="button" class="mui-btn mui-btn-sg mui-btn-block" id="addTask">
    		    		<i class="mui-icon iconfont icon-add" style="font-size: 40px;"></i>
    		    	</button>
				</div>
			</div>
		</div>
		
		<div id="menuPopover" class="mui-popover">
			<ul class="mui-table-view">
		    	<li class="mui-table-view-cell"><a href="#" id="hallBtn">任务大厅</a></li>
		    	<li class="mui-table-view-cell"><a href="#" id="changeTeamBtn">切换城堡</a></li>
		    	<li class="mui-table-view-cell"><a href="#" id="setBtn">设置</a></li>
		    </ul>
		</div>
		
		<script src="js/mui.min.js"></script>
		<script src="js/mui.picker.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/app.js"></script>
		<script type="text/javascript" charset="utf-8">
	      	(function($, doc){
				var task = new Vue({
					el: '.vue-task',
					data:{
						noticeShow: true,
						memberName: '',
						taskToday: [],
						taskOther: [],
					},
					mounted: function(){
						$.init();
						
						var _vue = this;
						
						// 初始化mui
						Vue.directive('mui', {
					        bind: function (el, props) {
					        	setTimeout(function(){ mui(el)[props.value](); },''); 
					        }
					    });
						
						$.plusReady(function() {
							
							var state;
							var memberId;
							var teamuuid;
							
							doc.addEventListener("swipeleft",function(){
								$.back();
							});
							
							// 预加载团队页面
							var teamPage = mui.preload({
								url:'team.html',
								id:'team.html'
							});
							
							// 预加载任务大厅页面
							var hallPage = mui.preload({
								url:'hall.html',
								id:'hall.html'
							});
							
							// team->member_id,teamuuid
							window.addEventListener("teamuuid",function(e){
								state = app.getState();
								memberId = state.id;
								teamuuid = e.detail.team_uuid;
								console.log('team->teamuuid:', teamuuid);
								
								_vue.memberName = state.member_name;
								
								get_today(teamuuid);
								get_other(teamuuid);
							})
							
							// 获取今日任务列表
							function get_today(uuid){
								plus.nativeUI.showWaiting('加载中',{width:'100px',height:'100px'});
								mui.post(url+'Task/get_task_today_list',{
										team_uuid: uuid,
										task_executive_id: memberId
									},function(res){
										console.log('今日任务', JSON.stringify(res.data));
										plus.nativeUI.closeWaiting();
										task.taskToday = res.data;
										mui("#pbTask").progressbar().setProgress(res.data.rate);
									},'json'
								);
							}
							// 获取其他任务列表
							function get_other(uuid){
								plus.nativeUI.showWaiting('加载中',{width:'100px',height:'100px'});
								mui.post(url+'Task/get_task_other_list',{
										team_uuid: uuid,
										task_executive_id: memberId
									},function(res){
										console.log('其他任务', JSON.stringify(res.data));
										plus.nativeUI.closeWaiting();
										task.taskOther = res.data;
										mui("#pbTaskOther").progressbar().setProgress(res.data.rate);
									},'json'
								);
							}
							
							// 页面滚动
							mui('.mui-scroll-wrapper').scroll({
								deceleration: 0.0005
							});
							
							var offCanvasWrapper = mui('#offCanvasWrapper'); // 侧滑菜单容器
							var offCanvasSide = offCanvasWrapper[0].querySelector('#offCanvasSide');
							var offCanvasInner = offCanvasWrapper[0].querySelector('.mui-inner-wrap'); // 主界面容器
							offCanvasInner.addEventListener('drag', function(event) {
								event.stopPropagation();
							});
							
							document.querySelector('.mui-off-canvas-wrap').addEventListener('hidden',function (event) {
								document.getElementById("taskName").value = null;
								document.getElementById("taskDesc").value = null;
								document.getElementById("pickDateBtn").innerHTML = '选择时间';
								document.getElementById("showUserPicker").innerHTML = '选择人员';
								mui("#offCanvasSideScroll i").each(function(){
									if (this.getAttribute('data-index') > 1) {
										this.classList.remove('mui-active');
									}
								})
							})							
							
							mui("#pbBlood").progressbar({progress:20}).show();
							mui("#pbMagic").progressbar({progress:60}).show();
							
							// 切换完成
							mui(".mui-table-view").on("tap", ".mui-switch", function(event){
								event.stopPropagation();
								var isActive = this.classList.contains("mui-active");
								var taskId = this.getAttribute('data-id');
								if (isActive) {
									// 完成
									mui.post(url+'Task/complete_task',{
											'task_id': taskId
										},function(data){
											console.log(JSON.stringify(data));
											if (data.status) {
												plus.nativeUI.toast('完成任务');
												get_today(teamuuid);
												get_other(teamuuid);
											} else {
												plus.nativeUI.toast('完成任务失败');
											}
										},'json'
									);
								} else {
									// 取消完成
									mui.post(url+'Task/cancel_task',{
											'task_id': taskId
										},function(data){
											console.log(JSON.stringify(data));
											if (data.status) {
												plus.nativeUI.toast('回退任务');
												get_today(teamuuid);
												get_other(teamuuid);
											} else {
												plus.nativeUI.toast('回退任务失败');
											}
										},'json'
									);
								}
							})
							
							// 点击添加任务
							var addTaskBtn = document.getElementById("addTask");
							addTaskBtn.addEventListener("tap", function(){
								offCanvasWrapper.offCanvas().show();
								mui.post(url+'Member/get_members_by_team',{
										'team_uuid': teamuuid
									},function(data){
										console.log(JSON.stringify(data.data));
										// 人员选择器赋值
										userPicker.setData(data.data);
									},'json'
								);
							})
							
							// 初始化picker
							var userPicker = new $.PopPicker();
							// 选择人员
							document.getElementById("showUserPicker").addEventListener("tap", function(){
								var _this = this;
								userPicker.show(function(items) {
									console.log(JSON.stringify(items[0]));
									_this.innerHTML = items[0].text;
									_this.style.width = 'auto';
									_this.setAttribute('data-id', items[0].value)
									//返回 false 可以阻止选择框的关闭
									//return false;
								});
							}, false)
							
							// 选择时间
							document.getElementById("pickDateBtn").addEventListener('tap', function() {
								var _this = this;
								var minDate = new Date();
								minDate.setFullYear(2018, 0, 1);
								var maxDate = new Date();
								maxDate.setFullYear(2020, 11, 31);
								plus.nativeUI.pickDate(function(e) {
									var d = e.date;
									console.log('选择的日期是:' + d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate())
									var dateObj = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();
									_this.innerHTML = dateObj;
									_this.setAttribute('data-date', dateObj);
								}, function(e) {
									console.log(JSON.stringify(e));
								}, {
									title: "请选择日期",
									minDate: minDate,
									maxDate: maxDate
								});
							})
							
							// 难度星级
					      	mui('#offCanvasSide .star-item').on('tap','i',function(){
						      	var index = parseInt(this.getAttribute("data-index")); 
						      	var parent = this.parentNode; 
						      	var children = parent.children; 
						      	
						      	for (var i = index; i < 5; i++) {
					      			children[i].classList.remove('mui-active')
					      		}
						      	for(var i=0;i<index;i++){ // 亮星
				   				children[i].classList.add('mui-active');
					      		}
						    })
					      	
							// 发布任务
							document.getElementById("confirmBtn").addEventListener('tap',function(){
								var taskNameBox = document.getElementById("taskName"); // 任务名称
								var taskDescBox = document.getElementById("taskDesc"); // 任务描述
								var deadlineTime = document.getElementById("pickDateBtn").getAttribute("data-date"); // 截止时间
								var taskExecutiveId = document.getElementById("showUserPicker").getAttribute("data-id"); // 执行人
								var difficult = document.getElementById("offCanvasSide").getElementsByClassName("icon-star mui-active").length;
								if (!taskNameBox.value) {
									plus.nativeUI.toast('任务还没有名字');
									return;
								}
								if (!deadlineTime) {
									plus.nativeUI.toast('截止时间还没选');
									return;
								}
								if (!taskExecutiveId) {
									plus.nativeUI.toast('执行人还没选');
									return;
								}
								
								mui.post(url+'Task/add_task',{
										task_publisher_id: memberId,
										team_uuid: teamuuid,
										task_name: taskNameBox.value,
										task_desc: taskDescBox.value,
										task_executive_id: taskExecutiveId,
										difficult: difficult,
										deadline_time: deadlineTime
									},function(data){
										offCanvasWrapper.offCanvas().close();
										if (data.status == 1) {
											get_today(teamuuid);
											get_other(teamuuid);
											plus.nativeUI.toast('发布任务成功');
										} else {
											plus.nativeUI.toast('发布任务失败，请稍后重试！');
										}
									},'json'
								);
							})
							// 取消发布任务
							document.getElementById("cancleBtn").addEventListener('tap',function(){
								offCanvasWrapper.offCanvas().close();
							})
							
							// 切换团队
							document.getElementById("changeTeamBtn").addEventListener("tap", function(){
								mui("#menuPopover").popover('toggle');
								
								mui.fire(teamPage,'choose_team',{
									team_uuid: teamuuid
								})
								mui.openWindow({
							    	id:'team.html',
							    	show:{
							    		aniShow: "slide-in-bottom"
							    	}
							  	});
							})
							
							// 跳转任务大厅
							document.getElementById("hallBtn").addEventListener("tap", function(){
								mui("#menuPopover").popover('toggle');
								
								mui.fire(hallPage,'get_hall_by_team',{
									team_uuid: teamuuid
								})
								mui.openWindow({
							    	id: 'hall.html',
							  	});
							})
						});
						
						// 关闭公告
						document.getElementById("noticeBtn").addEventListener("tap",function(){
							_vue.noticeShow = false;
							document.getElementById("pullrefresh").style.top = '234px';
						})
						
						// 跳转设置
						document.getElementById("setBtn").addEventListener("tap", function(){
							mui("#menuPopover").popover('toggle');
							mui.openWindow({
								url: 'setting.html',
								id: 'setting.html'
							});
						})
					}
				})
			}(mui, document));
	    </script>
	</body>

</html>