<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <title>城堡</title>
        <link href="css/mui.min.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />
        <link href="css/team.css" rel="stylesheet" />
        <style type="text/css">
            
        </style>
    </head>

    <body>
        <!--侧滑菜单容器-->
        <div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable mui-scalable vue-team">
            <!--创建城堡菜单-->
            <aside id="offCanvasSide" class="mui-off-canvas-right">
                <div id="offCanvasSideScroll" class="mui-scroll-wrapper">
                    <div class="mui-scroll">
                        <div class="create-box">
                            <h2 class="title">创建城堡</h2>
                            <input type="text" class="input-name" id="teamName" placeholder="城堡名称" :value="newData.team_name">
                            <div class="mui-button-row">
                                <button type="button" class="mui-btn btn-confirm" id="confirm">决定</button>
                                <button type="button" class="mui-btn btn-cancel" id="cancle">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <!--加入城堡菜单-->
            <aside id="offCanvasSideJoin" class="mui-off-canvas-right">
                <div id="offCanvasSideScroll" class="mui-scroll-wrapper">
                    <div class="mui-scroll">
                        <div class="create-box">
                            <h2 class="title">加入城堡</h2>
                            <input type="text" class="input-name" id="teamNo" placeholder="城堡编号" :value="newData.team_no">
                            <div class="mui-button-row">
                                <button type="button" class="mui-btn btn-confirm" id="joinConfirm">决定</button>
                                <button type="button" class="mui-btn btn-cancel" id="joinCancle">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            
            <div class="mui-inner-wrap">
                <div class="mui-content mui-scroll-wrapper" id="offCanvasContentScroll" style="background: #FFF;">
                    <div class="brand">
                        <a href="#menuPopover" class="mui-icon mui-icon-plusempty mui-pull-right" id="menuBtn" ></a>
                    </div>
                    
                    <div class="team" id="team">
                        <span class="team-label">请选择您要继续游戏的<em>城堡</em></span>
                        <div class="team-list">
                            <ul class="mui-table-view">
							    <li class="mui-table-view-cell mui-media"
							    	v-for="(team, index) in teams"
							    	v-bind:class="{on: index == 0}"
							    	:data-uuid="team.team_uuid">
							        <a href="javascript:;">
							            <img class="mui-media-object mui-pull-right team-icon" src="images/logo_bg.png">
							            <div class="mui-media-body">
							                <div class="icon-item mui-pull-left">
							                    <div class="icon-t"></div>
							                    <div class="icon-b"> </div>
							                </div>
							                <div class="team-item">
							                    <h2 class="mui-ellipsis team-title">{{team.team_name}}</h2>
							                    <p class="team-status">城堡运行了<em>{{parseInt(team.days)+1}}</em>天</p>
							                </div>
							            </div>
							        </a>
							    </li>
							    
							    <li class="mui-table-view-cell mui-media btn-add"
							    	v-bind:class="{on: teams.length == 0}"
							    	v-if="teams.length < 3">
							        <a href="javascript:;">
							            <img class="mui-media-object mui-pull-right team-icon" src="images/logo_bg.png">
							            <div class="mui-media-body">
							                <div class="icon-item mui-pull-left">
							                    <div class="icon-t"></div>
							                    <div class="icon-b"> </div>
							                </div>
							                <div class="team-item">
							                    <h2 class="mui-ellipsis team-title">创建新城堡</h2>
							                </div>
							            </div>
							        </a>
							    </li>
							    
							</ul>
                        </div>
                        <button type="button" class="mui-btn mui-btn-sg" id="next">继续游戏</button>
                    </div>          
                </div>
            </div>
        </div>
        
        <div id="menuPopover" class="mui-popover">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell"><a href="#offCanvasSideJoin" id="joinTeam">加入城堡</a></li>
            </ul>
        </div>
        
        <script src="js/mui.min.js"></script>
        <script src="js/app.js"></script>
		<script src="js/vue.min.js"></script>
        <script>
            (function($, doc) {
                
                $.init();
                
                var team = new Vue({
                	el: ".vue-team",
                	data: {
                		teams: [],
                		newData: {
                			team_name: '',
                			team_no: ''
                		}
                	},
                	methods: {
                		get_teams: function(memberId){
                			mui.post(url+'Team/get_team_join_list',{
	                                member_id: memberId
	                            },function(data){
	                            	console.log('团队:',JSON.stringify(data.data));
	                            	team.teams = data.data;
	                            },'json'
	                        );
                		}
                	},
                	mounted: function(){
                		var _vue = this;
            			var memberId;
            			
            			doc.addEventListener('memberId',function(event){
            				memberId = event.detail.member_id;
            				console.log('login->memberId:', memberId);
            				_vue.get_teams(memberId);
            			});
						
                		$.plusReady(function() {
                			
		                    var taskPage = mui.preload({
		                        url:'task.html',
		                        id:'task.html'
		                    })
		                    
		                    // 接收任务页传递参数
		                    doc.addEventListener("choose_team",function(e){
		                        var activeTeamuuid = e.detail.team_uuid;
		                        
		                    })
		                    
		                    // 选择团队进入
		                    var nextBtn = doc.getElementById('next');
		                    nextBtn.addEventListener('tap', function(){
		                    	if (team.teams.length == 0) {
		                    		plus.nativeUI.toast('请先创建城堡');
		                            return;
		                    	}
		                        var teamuuid = document.getElementsByClassName('mui-media on')[0].getAttribute('data-uuid');
		                        
		                        mui.fire(taskPage,'teamuuid',{
		                            team_uuid: teamuuid
		                        })
		                        $.openWindow({
		                            id: 'task.html',
		                            show: {
		                                aniShow: 'pop-in'
		                            }
		                        });
		                    })
		                    
		                    // 添加团队
		                    document.getElementById("confirm").addEventListener('tap',function(){
		                    	
		                        var teamNameBox = document.getElementById("teamName");
		                        if (teamNameBox.value == '') {
		                            plus.nativeUI.toast('还没有给城堡起名字');
		                            return;
		                        }
		                        mui.post(url+'Team/add_team',{
		                                founder_id: memberId,
		                                team_name: teamNameBox.value
		                            },function(data){
		                                offCanvasWrapper.offCanvas().close();
		                                if (data.status == 1) {
		                                    plus.nativeUI.toast('新建城堡成功');
		                                    team.get_teams(memberId);
		                                } else {
		                                    plus.nativeUI.toast('新建城堡失败，请稍后重试');
		                                }
		                            },'json'
		                        );
		                    })
		                    
		                    // 加入团队
		                    document.getElementById("joinTeam").addEventListener("tap",function(){
		                        mui("#menuPopover").popover('toggle');
		                    })
		                    document.getElementById("joinCancle").addEventListener("tap",function(){
		                        offCanvasWrapper.offCanvas().close();
		                    })
		                    document.getElementById("joinConfirm").addEventListener("tap",function(){
		                        var teamNoBox = document.getElementById("teamNo");
		                        if (teamNoBox.value == '') {
		                            plus.nativeUI.toast('想要加入哪座城堡？');
		                            return;
		                        }
		                        mui.post(url+'Team/join_team',{
		                                member_id: memberId,
		                                team_no: teamNoBox.value
		                            },function(res){
		                                if (res.status == 1) {
		                                    plus.nativeUI.toast('加入城堡成功');
		                                    team.get_teams(memberId);
		                                    offCanvasWrapper.offCanvas().close();
		                                } else {
		                                    plus.nativeUI.toast(res.msg);
		                                }
		                            },'json'
		                        );
		                    })
		                });
		                
		                var offCanvasWrapper = mui('#offCanvasWrapper'); // 侧滑菜单容器
	                    var offCanvasSide = offCanvasWrapper[0].querySelector('#offCanvasSide');
	                    var offCanvasInner = offCanvasWrapper[0].querySelector('.mui-inner-wrap'); 
	                    offCanvasInner.addEventListener('drag', function(event) {
	                        event.stopPropagation();
	                    });
	                    document.querySelector('.mui-off-canvas-wrap').addEventListener('hidden',function (event) {
	                    	_vue.newData = {};
						})
	                    
	                    // 点击选择团队
                        mui(".mui-table-view").on('tap','.mui-table-view-cell',function(){
                            if( this.classList.contains('btn-add') ){
                                offCanvasWrapper.offCanvas().show();
                            } else {
                                mui('.mui-table-view-cell').each(function(){
                                    this.classList.remove('on')
                                })
                                this.classList.add('on');
                            }
                        })
	                    
	                    // 取消添加团队
	                    document.getElementById("cancle").addEventListener("tap",function(){
	                        offCanvasWrapper.offCanvas().close();
	                    })
                	}
                })
                
            }(mui, document));
        </script>
    </body>

</html>